## US Medical Insurance Analysis
- Codecademy Data Science Career Path Portfolio Project.
- Analyze insurance data

### Goals:
- Determine what region has the most smokers

In [3]:
import pandas as pd

In [1]:
csv_path = '../data/insurance.csv'

In [5]:
df = pd.read_csv(csv_path)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
df['region'].value_counts(normalize=True)

southeast    0.272048
southwest    0.242900
northwest    0.242900
northeast    0.242152
Name: region, dtype: float64

In [14]:
smokers_by_region = df.groupby(['region', 'smoker']).size().unstack(fill_value=0)
# smokers_by_region
region_counts = df.groupby('region')['smoker'].value_counts(normalize=True).mul(100).unstack(fill_value=0)
region_counts

smoker            no        yes
region
northeast  79.320988  20.679012
northwest  82.153846  17.846154
southeast  75.000000  25.000000
southwest  82.153846  17.846154

### Observation
The `southeast` region has the highest percentage of smokers.